@import "styles/mixins";

.tickets {
  display: flex;
  flex-direction: column;

  @include for-desktop-up {
    flex-direction: row;
  }
}

.list {
  flex: 1;

  @include for-desktop-up {
    margin-left: 20px;
    flex: 1 0 502px;
  }
}
