@import "styles/mixins";

.tickets {
  display: flex;
  flex-direction: column;

  @include for-desktop-up {
    flex-direction: row;
  }
}

.list {
  flex: 1;
  margin-left: 20px;
  max-width: 502px;
  min-width: 502px;
  width: 100%;
}
