.language-switcher {
  font-weight: 600;
  font-size: 14px;
  color: var(--language-switcher-color);
  cursor: pointer;
  user-select: none;
}

.language-switcher .language-switcher__item {
  display: flex;
  align-items: center;
}

.language-switcher .language-switcher__item .icon {
  margin-right: 5px;
}
