@import "styles/mixins";

#root {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  padding-bottom: 235px; /* 235px - footer height */
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @include for-tablet-landscape-up {
    max-width: 960px;
    padding: 0 103px;
  }
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-flex-end {
  justify-content: flex-end;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-center {
  justify-content: center;
}
