.app {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  padding-bottom: 195px; /* 195px - footer height */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 103px;
  display: flex;
  justify-content: space-between;
}

.jc-flex-start {
  justify-content: flex-start;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-center {
  justify-content: center;
}
