@import "styles/mixins";

.footer {
  width: 100%;
  background: var(--footer-bg);
  font-size: 12px;
  color: var(--footer-menu-color);
  padding: 20px 0;

  @include for-tablet-landscape-up {
    padding: 40px 0;
    position: absolute;
    bottom: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 -10px;

    @include for-tablet-landscape-up {
      flex-direction: row;
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &__column {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include for-tablet-landscape-up {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 14px;
    color: var(--footer-menu-heading-color);
    margin-bottom: 20px;
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;

    > .menu__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.footer a {
  color: var(--footer-menu-color);
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--footer-menu-color--hover);
  }
}
